
<outer> 

<h1 align="center">Home of the TribleBot Project</h1>
<h2 align="center">Spreading The Lord's good word through The President's tweets</h2>
<h3 align="center">since January 20, 2017</h3>

<p align="center">
	<strong>
		Get involved <a target="blank" href="https://twitter.com/realTrumProphet">@realTrumProphet</a>
	</strong>
	<br>
	<a target="blank" href="https://twitter.com/realTrumProphet">
		<img src="/images/twitter_landing.png"></img>
	</a>
</p>



</outer>